// Header code for scss
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $background;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

nav a {
  color: $text;
  text-decoration: none;
  font-size: 1.2rem;
  transition: all 0.3s;
}
